@charset "UTF-8";

html, body, #wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

#wrapper {
  position: relative;
}

#my-video {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  max-width: 50%;
  max-height: 30%;
}

#wrapper-other-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#other-video {
  display: block;
  width: auto;
  height: 100vh;
  max-width: 100%;
}

@media screen and (orientation: portrait) {
  #other-video {
    width: 100vw;
    height: auto;
  }
}
